.modal {
  opacity: 0;
  visibility: hidden;

  pointer-events: none;
  transition: opacity;
}

.modal_opened {
  opacity: 1;
  visibility: visible;
  transition: visibility 0s, opacity 0.5s ease-in-out;
  pointer-events: all;
}

.modal__overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal__form {
  position: relative;
  background-color: white;
  width: 480px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.modal__close-btn {
  border: none;
  width: fit-content;
  position: absolute;
  height: 20px;
  top: 20px;
  right: 28px;
  padding: 0;
  z-index: 10;
}

.modal__close-btn-img {
  width: 20px;
}

.modal__title {
  font-size: 32px;
  line-height: 40px;
  margin: 40px 0 0 40px;
}

.modal__input {
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  padding-bottom: 4px;
  line-height: 20px;
  margin-left: 40px;
  margin-top: 20px;
  padding-left: 24px;
  border: solid 1px black;
  width: 400px;
  height: 60px;
  border-radius: 30px;
}

.modal__btns {
  display: flex;
  flex-direction: row;
}

.modal__submit-btn {
  box-sizing: border-box;
  color: white;
  width: 129px;
  height: 60px;
  margin-top: 32px;
  margin-bottom: 36px;
  margin-left: 40px;
  font-size: 18px;
  line-height: 24px;
  border: none;
  border-radius: 100px;
  background-color: #2f71e5;
  padding: 8px 16px;
}

.modal__submit-btn:hover {
  background-color: rgba(46, 46, 149, 0.772);
}

.modal__btn_inactive {
  background-color: rgba(0, 0, 0, 0.3);
}

.modal__second-btn {
  color: gray;
  margin-top: 32px;
  margin-bottom: 36px;
  margin-left: 10px;
  font-size: 16px;
  line-height: 20px;
  border: none;
  background-color: white;
  border-radius: 4px;
  padding: 8px 16px;
  width: fit-content;
}

.modal__second-btn_invsbl {
  display: none;
}

.modal__input-error_active {
  color: red;
  margin-left: 5px;
}

.modal__input_type_error {
  color: red;
}
