.footer {
  max-width: 1360px;
  font-size: 16px;
  line-height: 20px;
  padding-top: 24px;
  padding-bottom: 24px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.footer__right {
  text-align: left;
}
.footer__author {
  margin: 0;
}

.footer__image-credit {
  margin: 0;
}

.footer__year {
  margin: 0;
}

@media all and (max-width: 900px) {
  .footer {
    font-size: 14px;
  }
}

@media all and (max-width: 620px) {
  .footer {
    font-size: 12px;
  }
}
