.search-section {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.search-section__cards {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 10px;
  width: 100%;
}
